<ion-view view-title="Open Events Platform App">
  <ion-content>
    <div class="row o_mainOptionRow">
      <a class="col c_pink400" ng-href="#/app/events">
        <i class="icon ion-clipboard"></i><!--events-->
      </a>
      <a class="col c_indigo500" ng-href="#/app/users">
        <i class="icon ion-person-stalker"></i>
      </a>
    </div>
    <div class="row o_mainOptionRow">
    <a class="col 0 c_yellow600" ng-href="#/app/savedEvents">
      <i class="icon ion-heart"></i>
    </a>
      <a class="col c_green400" ng-href="#/app/mapEvents">
        <i class="icon ion-ios-location"></i><!--by place-->
      </a>
    </div>
    <div class="row o_mainOptionRow">
        <a class="col c_deepPurple400" ng-href="#/app/search">
          <i class="icon ion-search"></i>
        </a>
        <a class="col c_cyan400" ng-href="#/app/categories">
          <i class="icon ion-pound"></i><!--by categories-->
        </a>
    </div>
    <div class="row o_mainOptionRow">
        <a class="col c_indigo300" ng-href="#/app/calendar">
          <i class="icon ion-calendar"></i><!--by date-->
        </a>
      <a class="col c_orange400" ng-href="#/app/settings">
        <i class="icon ion-ios-gear"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
