<ion-view view-title="New Event">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input type="text" ng-model="event.title" placeholder="Title">
            </label>
            <label class="item item-input">
                <textarea ng-model="event.description" placeholder="Description"></textarea>
            </label>
            <label class="item-input">
                <span class="input-label">{{'Date' | translate}}</span>
                <input ng-model="event.date" type="date" placeholder="">
            </label>
            <label class="item-input">
                <span class="input-label">{{'Hour' | translate}}</span>
                <input ng-model="event.date" type="time" placeholder="">
            </label>
            <!--<label class="item item-input">
                <input type="text" ng-model="event.img" placeholder="img">
            </label>-->
            <div ng-hide="event.imgpreview" class="button" ng-click="selectImgFile()">Select image</div>
            <img ng-src="{{event.imgpreview}}" ng-click="selectImgFile()"/>
            <ion-list>
                Categories:
                <ion-checkbox ng-model="category.selected" ng-repeat="category in categories"
                ng-click="categorySelected()">
                    {{category.name}}
                </ion-checkbox>
            </ion-list>
            <label class="item item-input">
                <input type="text" ng-model="event.location.direction" placeholder="Direction">
            </label>
            <div ng-click="getGeo()" class="button button-small c_indigo400 item-note"
            ng-show="event.location.direction">
                Get geolocation
            </div>
        </div>
            <leaflet ng-show="markers[0]"
            width="100%" height="40%" markers="markers" center="center"
            tiles="tiles" id="map-simple-map"></leaflet>

            <div class="item">
                <div ng-click="postEvent()" class="button c_indigo400 item-note" ng-show="event.location.geo.lat">
                    Post new event!
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
