<ion-view view-title="User zone">
  <ion-content>
    <div class="row o_mainOptionRow">
      <a class="col c_pink400" ng-href="#/app/newEvent">
        <i class="icon ion-compose"></i><!--events-->
      </a>
      <a class="col" ng-href="#/app/users">
        <i class="icon ion-person-stalker"></i>
      </a>
    </div>
    <div class="row o_mainOptionRow">
    <a class="col" ng-href="#/app/savedEvents">
      <i class="icon ion-heart"></i>
    </a>
      <a class="col" ng-href="#/app/byplace">
        <i class="icon ion-ios-location"></i><!--by place-->
      </a>
    </div>
    <div class="row o_mainOptionRow">
        <a class="col" ng-href="#/app/search">
          <i class="icon ion-search"></i>
        </a>
        <a class="col" ng-href="#/app/byCategories">
          <i class="icon ion-pound"></i><!--by categories-->
        </a>
    </div>
    <div class="row o_mainOptionRow">
        <a class="col" ng-href="#/app/bydate">
          <i class="icon ion-calendar"></i><!--by date-->
        </a>
      <a class="col" ng-href="#/app/settings">
        <i class="icon ion-ios-gear"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
