<ion-view view-title="User zone">
  <ion-content>
    <div class="row o_mainOptionRow">
      <a class="col c_pink400" ng-href="#/app/newEvent">
        <i class="icon ion-compose"></i><!--new event-->
      </a>
    </div>
    <div class="row o_mainOptionRow">
      <a class="col c_indigo400" ng-href="#/app/editUser">
        <i class="icon ion-person"></i><!--profile-->
      </a>
    </div>
    <div class="row o_mainOptionRow">
      <a class="col c_orange400" ng-href="#/app/statistics">
        <i class="icon ion-stats-bars"></i><!--profile-->
      </a>
    </div>
    <div class="row o_mainOptionRow">
      <a class="col c_red400" ng-href="#/app/newAlert">
        <i class="icon ion-alert-circled"></i><!--profile-->
      </a>
    </div>
  </ion-content>
</ion-view>
