<ion-view view-title="User">
  <ion-content>
      <div class="item item-avatar">
        <img ng-src="{{user.img}}">
        <div class="o_pullRight">
            <span class="badge badge-balanced">
                Following
            </span>
        </div>
        <h2>{{user.username}}</h2>
        <p>{{user.shortDescription}}</p>
      </div>
      <div class="item item-body">
        {{user.description}}
      </div>

          <leaflet width="100%" height="40%" markers="markers" center="center"
          tiles="tiles" id="map-simple-map"></leaflet>
  </ion-content>
</ion-view>
