<ion-view view-title="Users">
  <ion-content>
      <ion-refresher
        pulling-text="{{'Pull_to_refresh' | translate}}..."
        on-refresh="doRefresh()">
      </ion-refresher>
    <ion-list><!-- item-remove-animate -->
        <div ng-repeat="user in users">
        <div class="item-note">
            <div class="button button-small button-assertive"
            ng-show="isUserFollowed(user)"
            ng-click="unfollowUser(user)">
                Unfollow
            </div>
            <div class="button button-small button-balanced"
            ng-hide="isUserFollowed(user)"
            ng-click="followUser(user)">
                Follow
            </div>
        </div>
              <ion-item class="item-avatar"
              type="item-text-wrap" href="#/app/users/{{user._id}}">
                <img ng-src="{{user.img}}">

                <h2>{{user.username}}</h2>
                <p>{{user.shortDescription}}</p>
              </ion-item>
          </div>
    </ion-list>
  </ion-content>
</ion-view>
