/* Empty. Add your own CSS if you like */
.o_mainOptionRow{
    height: calc(103%/4);
    display: table;
    padding: 0;
}
.o_mainOptionRow a{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    font-size: 300%;
}

.o_floatRight{
    float: right;
}
.o_textRight{
    text-align: right;
}
