/* Empty. Add your own CSS if you like */
.o_mainOptionRow{
    height: calc(103%/4);
    display: table;
    padding: 0;
}
.o_mainOptionRow a{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    font-size: 300%;
}

.o_floatRight{
    float: right;
}
.o_textRight{
    text-align: right;
}
.o_loginBackground{
    height: 100%!important;
    width: 100%;
    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url('../img/loginWallpaper.png');
    text-align: center;
    /*color: white;*/

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: #000000;

    padding-top: 30%;
}
.o_loginBackground h1{
    color: #000000!important;
    margin: 10px;
}
.o_loginInput{
    background: rgba(255, 255, 255, 0.2);
    padding:10px;
    color: #000000;
    border: 0px;
    width: 80%;
    font-size: 120%;
}
.o_loginInput::-webkit-input-placeholder{
    color: rgba(0, 0, 0, 0.6);
}
.o_loginButton{
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    margin: 10%;
}
.o_signupLink{
    text-decoration: none;
    color: #000000;
}
.o_badge{
    border-radius: 8px;
    margin: 5px;
    padding: 2px 5px;
}
